//calculator
#react-calculator {
	margin: auto;
	text-align: center;
	width: 250px;

	#display-container {
		background-color: #c5c5ff;
		border: 1px solid black;
		border-bottom: 0;
		padding: .75rem 0;

		#display {
			background-color: white;
			border: 1px solid black;
			margin: auto;
			min-height: 5.5rem;
			position: relative;
			text-align: right;
			width: 86%;

			#operation, #solution {
				position: absolute;
				width: 100%;
				//overflow: hidden;
			}

			#operation {
				//height: 33.33%;
				overflow-x: auto;
				text-align: right;
				top: 0;
				white-space: nowrap;
			}

			#solution {
				bottom: 0;
				font-size: 2rem;
				/*height: 66.66%;*/
			}
		}
	}

	>.button-row {
		display: flex;
		flex-direction: row;

		.button {
			background-color: #e6e6ff;
			border: {
				left: 1px solid black;
				top: 1px solid black;
			}
			color: black;
			font-size: 1rem;
			padding: 0;
			user-select: none;
			-moz-user-select: none;
			width: 25%;

			&:last-child {
				border-right: 1px solid black;
			}

			&#react-calculator-equals {
				width: 75%;
			}
		}

		//last row
		&:last-child {
			border-bottom: 1px solid black;
		}
	}


}

/*
#billted {
	text-align: center;
	width: 100%;
}

#excellent {
	display: inline;
	opacity: 0;
	position: relative;
	top: -185px;
	width: 1px;
	z-index: 2;
}
*/

@media only screen and (min-width: 1367px) {
	#react-calculator .button:hover {
		background-color: #e6ffff !important;
	}

	#react-calculator .button:active {
		background-color: #c5c5ff;
	}
}